@page "/CompanyInfo"

<h3>Company Information</h3>

@if (companyInfo == null || companyInfo.Companies == null)
{
    <p><em>Loading companies...</em></p>
}
else if (companyInfo.Companies.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th @onclick="SortByRoaringCompanyId">Org. Number</th>
                <th @onclick="SortByCompanyName">Company</th>
                <th @onclick="SortByCompanyRegistrationDate">Registration Date</th>
                <th @onclick="SortByIndustryCode">Industry Code</th>
                <th @onclick="SortByIndustryText">Industry Text</th>
                <th @onclick="SortByLegalGroupCode">Legal Group Code</th>
                <th @onclick="SortByLegalGroupText">Legal Group Text</th>
                <th @onclick="SortByEmployerContributionReg">Employer Contribution Reg</th>
                <th @onclick="SortByNumberEmployeesInterval">Employees Interval</th>
                <th @onclick="SortByPreliminaryTaxReg">Preliminary Tax Reg</th>
                <th @onclick="SortBySeveralCompanyName">Several Company Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in companyInfo.Companies)
            {
                <tr>
                    <td>@company.RoaringCompanyId</td>
                    <td class="clickable" @onclick="() => NavigateToCompany(company.RoaringCompanyId)">@company.CompanyName</td>
                    <td>@company.CompanyRegistrationDate?.ToString("yyyy-MM-dd")</td>
                    <td>@company.IndustryCode</td>
                    <td>@company.IndustryText</td>
                    <td>@company.LegalGroupCode</td>
                    <td>@company.LegalGroupText</td>
                    <td>
                        @if (company.EmployerContributionReg.HasValue)
                        {
                            if (company.EmployerContributionReg.Value)
                            {
                                <span class="true-value">True</span>
                            }
                            else
                            {
                                <span class="false-value">False</span>
                            }
                        }                      
                    </td>

                    <td>@company.NumberEmployeesInterval</td>

                    <td>
                        @if (company.PreliminaryTaxReg.HasValue)
                        {
                            if (company.PreliminaryTaxReg.Value)
                            {
                                <span class="true-value">True</span>
                            }
                            else
                            {
                                <span class="false-value">False</span>
                            }
                        }                     
                    </td>

                    <td>
                        @if (company.SeveralCompanyName.HasValue)
                        {
                            if (company.SeveralCompanyName.Value)
                            {
                                <span class="true-value">True</span>
                            }
                            else
                            {
                                <span class="false-value">False</span>
                            }
                        }                    
                    </td>

                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th @onclick="SortByRoaringCompanyId">Org. Number</th>
                <th @onclick="SortByCompanyName">Company</th>
                <th @onclick="SortByCompanyRegistrationDate">Registration Date</th>
                <th @onclick="SortByIndustryCode">Industry Code</th>
                <th @onclick="SortByIndustryText">Industry Text</th>
                <th @onclick="SortByLegalGroupCode">Legal Group Code</th>
                <th @onclick="SortByLegalGroupText">Legal Group Text</th>
                <th @onclick="SortByEmployerContributionReg">Employer Contribution Reg</th>
                <th @onclick="SortByNumberEmployeesInterval">Employees Interval</th>
                <th @onclick="SortByPreliminaryTaxReg">Preliminary Tax Reg</th>
                <th @onclick="SortBySeveralCompanyName">Several Company Name</th>
            </tr>
        </tfoot>
    </table>

    <!-- Pagination Controls with Bootstrap Classes -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item @(currentPage <= 1 ? "disabled" : "")">
                <button class="page-link" @onclick="FirstPage" disabled="@(!CanNavigateBackward)">First</button>
            </li>
            <li class="page-item @(currentPage <= 1 ? "disabled" : "")">
                <button class="page-link" @onclick="PreviousPage" disabled="@(!CanNavigateBackward)">&laquo; Previous</button>
            </li>
            <li class="page-item @(currentPage >= totalPages ? "disabled" : "")">
                <button class="page-link" @onclick="NextPage" disabled="@(!CanNavigateForward)">Next &raquo;</button>
            </li>
            <li class="page-item @(currentPage >= totalPages ? "disabled" : "")">
                <button class="page-link" @onclick="LastPage" disabled="@(!CanNavigateForward)">Last</button>
            </li>
        </ul>
    </nav>

}



