@page "/CompanyInfo"

<h3>Company Information</h3>

@if (companyInfo?.Companies == null)
{
    <p><em>Loading companies...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th @onclick="SortByRoaringCompanyId">Organization Number</th>
                <th @onclick="SortByCompanyName">Company Name</th>
                <th @onclick="SortByCompanyRegistrationDate">Registration Date</th>
                <th @onclick="SortByIndustryCode">Industry Code</th>
                <th @onclick="SortByIndustryText">Industry Text</th>
                <th @onclick="SortByLegalGroupCode">Legal Group Code</th>
                <th @onclick="SortByLegalGroupText">Legal Group Text</th>
                <th @onclick="SortByEmployerContributionReg">Employer Contribution Reg</th>
                <th @onclick="SortByNumberCompanyUnits">Number of Company Units</th>
                <th @onclick="SortByNumberEmployeesInterval">Employees Interval</th>
                <th @onclick="SortByPreliminaryTaxReg">Preliminary Tax Reg</th>
                <th @onclick="SortBySeveralCompanyName">Several Company Name</th>
                <th @onclick="SortByNumberOfEmployees">Number of Employees</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in companyInfo.Companies)
            {
                <tr>
                    <td>@company.RoaringCompanyId</td>
                    <td class="clickable" @onclick="() => NavigateToCompany(company.RoaringCompanyId)">@company.CompanyName</td>
                    <td>@company.CompanyRegistrationDate?.ToString("yyyy-MM-dd")</td>
                    <td>@company.IndustryCode</td>
                    <td>@company.IndustryText</td>
                    <td>@company.LegalGroupCode</td>
                    <td>@company.LegalGroupText</td>
                    <td>@company.EmployerContributionReg</td>
                    <td>@company.NumberCompanyUnits</td>
                    <td>@company.NumberEmployeesInterval</td>
                    <td>@company.PreliminaryTaxReg</td>
                    <td>@company.SeveralCompanyName</td>
                    <td>@company.NumberOfEmployees</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th @onclick="SortByRoaringCompanyId">Organization Number</th>
                <th @onclick="SortByCompanyName">Company Name</th>
                <th @onclick="SortByCompanyRegistrationDate">Registration Date</th>
                <th @onclick="SortByIndustryCode">Industry Code</th>
                <th @onclick="SortByIndustryText">Industry Text</th>
                <th @onclick="SortByLegalGroupCode">Legal Group Code</th>
                <th @onclick="SortByLegalGroupText">Legal Group Text</th>
                <th @onclick="SortByEmployerContributionReg">Employer Contribution Reg</th>
                <th @onclick="SortByNumberCompanyUnits">Number of Company Units</th>
                <th @onclick="SortByNumberEmployeesInterval">Employees Interval</th>
                <th @onclick="SortByPreliminaryTaxReg">Preliminary Tax Reg</th>
                <th @onclick="SortBySeveralCompanyName">Several Company Name</th>
                <th @onclick="SortByNumberOfEmployees">Number of Employees</th>
            </tr>
        </tfoot>
    </table>
}



