@page "/FinancialRecords"
@using RoaringView.Data
@using RoaringView.Model
@inject FinancialRecordService ApiService

<h3>Financial Records</h3>

@if (financialRecords == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>From Date</th>
                <th>To Date</th>
                <th>Share Capital</th>
                <th>Number of Shares</th>
                <th>KPI Ebitda</th>
                <th>KPI Ebitda Margin %</th>
                <th>KPI Return on Equity %</th>
                <th>Net Operating Income</th>
                <th>Sales</th>
                <th>Ebit</th>
                <th>Profit/Loss After Fin Items</th>
                <th>Net Profit/Loss</th>
                <th>Total Inventories</th>
                <th>Cash and Bank Balances</th>
                <th>Total Equity</th>
                <th>Total Long-Term Debts</th>
                <th>Total Current Liabilities</th>
                <th>Total Equity and Liabilities</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var record in financialRecords)
            {
                <tr>
                    <td>@record.FromDate.ToString("d")</td>
                    <td>@record.ToDate.ToString("d")</td>
                    <td>@record.BsShareCapital</td>
                    <td>@record.NumberOfShares</td>
                    <td>@record.KpiEbitda</td>
                    <td>@record.KpiEbitdaMarginPercent</td>
                    <td>@record.KpiReturnOnEquityPercent</td>
                    <td>@record.PlNetOperatingIncome</td>
                    <td>@record.PlSales</td>
                    <td>@record.PlEbit</td>
                    <td>@record.PlProfitLossAfterFinItems</td>
                    <td>@record.PlNetProfitLoss</td>
                    <td>@record.BsTotalInventories</td>
                    <td>@record.BsCashAndBankBalances</td>
                    <td>@record.BsTotalEquity</td>
                    <td>@record.BsTotalLongTermDebts</td>
                    <td>@record.BsTotalCurrentLiabilities</td>
                    <td>@record.BsTotalEquityAndLiabilities</td>
                </tr>
            }
        </tbody>

    </table>
}

@code {
    private List<RoaringView.Model.FinancialRecord> financialRecords;

    protected override async Task OnInitializedAsync()
    {
        financialRecords = await ApiService.GetFinancialRecordsAsync();
    }
}

