@page "/search-results/{SearchTerm}"
@using RoaringView.Model

<h3>Search Results for "@SearchTerm"</h3>

@if (searchResults == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (searchResults.HasResults())
    {
        @DisplayCompanyEmployeesTable
        @DisplayCompaniesTable
        @DisplayCompanyRatingsTable


        <!-- Pagination Controls with Bootstrap Classes -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item @(currentPage <= 1 ? "disabled" : "")">
                    <button class="page-link" @onclick="FirstPage" disabled="@(!CanNavigateBackward)">First</button>
                </li>
                <li class="page-item @(currentPage <= 1 ? "disabled" : "")">
                    <button class="page-link" @onclick="PreviousPage" disabled="@(!CanNavigateBackward)">&laquo; Previous</button>
                </li>
                <li class="page-item @(currentPage >= totalPages ? "disabled" : "")">
                    <button class="page-link" @onclick="NextPage" disabled="@(!CanNavigateForward)">Next &raquo;</button>
                </li>
                <li class="page-item @(currentPage >= totalPages ? "disabled" : "")">
                    <button class="page-link" @onclick="LastPage" disabled="@(!CanNavigateForward)">Last</button>
                </li>
            </ul>
        </nav>
    }
    else
    {
        <p>No results found.</p>
    }
}